@font-face {
  font-family: 'Lifehack-Medium';
  src: url("../fonts/lifehack/lifehack-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("../fonts/ubuntu/ubuntu-bold.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Light';
  src: url("../fonts/ubuntu/ubuntu-light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url("../fonts/ubuntu/ubuntu-medium.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin-Regular';
  src: url("../fonts/gagalin-regular/gagalin-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  min-width: 960px;
  position: relative;
  min-height: 100;
  overflow: hidden; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 940px; }

.section {
  min-width: 940px;
  min-height: 650px;
  height: 100vh; }

.order-link {
  min-width: 6.125rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e45028;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #ce401a; }

.hero {
  background: url("../img/bg/1_slide_bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5px; }

.hero__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  margin-right: auto; }

.header__nav {
  margin-right: 0.9375rem; }

.header__list {
  margin: 0;
  padding: 0; }

.header__item {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: middle; }
  .header__item:after {
    display: inline-block;
    content: "";
    vertical-align: middle;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background: white;
    margin: 14px; }
  .header__item:last-child:after {
    display: none; }

.header__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .header__link:hover {
    text-decoration: underline; }

.header__item:hover .header__link {
  text-decoration: underline; }

.hero__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-top: -110px; }

.hero__img {
  height: 420px;
  margin-left: 20px; }

.hero__img-pic {
  width: 450px; }

.section__title {
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  font-size: 72px;
  text-transform: uppercase;
  color: #f9b43b; }

.main__content-subtitle {
  font-family: 'Lifehack-Medium', Helvetica, sans-serif;
  font-size: 65px;
  color: #ffffff; }

.main__text {
  padding-top: 125px;
  padding-left: 14px; }

.main__content-subtitle {
  margin-top: 19px;
  line-height: 57px;
  letter-spacing: -2px; }

.arrow {
  text-align: center;
  display: block;
  margin-bottom: 45px; }

.arrow__link {
  display: block; }

.best {
  background: url("../img/bg/2_slide_bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50%; }

.section__title--best {
  color: #2f3234;
  margin-top: -110px;
  margin-bottom: 67px; }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  width: 100%; }

.best__item {
  text-align: none;
  display: inline-block;
  width: 300px; }

.best__img-block {
  height: 90px;
  width: 90;
  margin-bottom: 30px; }

.best__img {
  margin-left: 105px; }

.best__item-title {
  display: block;
  font-family: "Lifehack-Medium";
  font-size: 24.1px;
  color: #2f3234;
  margin-bottom: 20px;
  text-align: center;
  line-height: 28px;
  margin-bottom: 5px; }

.best__description {
  font-family: "Ubuntu";
  font-size: 14px;
  line-height: 24px;
  color: #6a6969;
  text-align: center; }

.burgers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: url("../img/bg/3_slide_bg.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  min-height: 650px; }

.team {
  background: url("../img/bg/4_slide_bg.jpg") center center no-repeat;
  background-size: cover;
  position: relative; }

.team__container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 49%;
  background: #2f3234;
  -webkit-filter: opacity(93%);
  filter: opacity(93%);
  padding-left: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: none;
  -ms-flex-direction: none;
  flex-direction: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.team__content {
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: -30px; }

.team__title {
  font-family: "Gagalin-Regular";
  text-transform: uppercase;
  font-size: 72px;
  line-height: 64px;
  color: #f9b43b;
  margin-bottom: 75px; }

.accordion__container {
  display: none; }

.accordion__item {
  margin-bottom: 20px; }
  .accordion__item:hover .accordion__title {
    display: block; }

.active .accordion__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  /* padding-bottom: 15px; */
  padding-left: 15px;
  margin-bottom: 35px; }

.accordion__title {
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 28px;
  color: white; }
  .accordion__title:before {
    content: "";
    width: 0;
    height: 0;
    border: 0.3125rem solid transparent;
    border-top-color: #f9b43b;
    border-bottom: none;
    margin-right: 10px;
    display: inline-block; }

.accordion__photo {
  margin-right: 20px; }

.accordion__occupation {
  font-family: "Ubuntu-Bold";
  text-transform: none;
  font-size: 13px;
  line-height: 24px;
  color: white;
  margin-bottom: 5px; }

.accordion__text {
  font-family: "Ubuntu";
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
  color: #ebebeb; }

.menu {
  background: url("../img/bg/5_slide_bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative; }

.menu__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

.menu__space {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.section__title--menu {
  color: white;
  margin-top: -245px;
  margin-left: -335px; }

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }
  .menu__item:hover .menu__desc {
    display: block; }

.menu__sutitle {
  display: block;
  position: relative; }

.menu__sutitle-meet {
  background: url("../img/content/meet.jpg") center center no-repeat;
  background-size: cover;
  width: 78px;
  height: 100%; }

.menu__sutitle-veget {
  background: url("../img/content/veget.jpg") center center no-repeat;
  background-size: cover;
  width: 78px;
  height: 100%; }

.menu__sutitle-diet {
  background: url("../img/content/diet.jpg") center center no-repeat;
  background-size: cover;
  width: 78px;
  height: 100%; }

.menu__link {
  display: block;
  font-family: 'Gagalin-Regular', Helvetica, sans-serif;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-36%, 525%) rotate(-90deg);
  -ms-transform: translate(-36%, 525%) rotate(-90deg);
  transform: translate(-36%, 525%) rotate(-90deg);
  white-space: nowrap;
  z-index: 100;
  text-decoration: none;
  color: white; }

.menu__desc {
  display: none;
  width: 540px;
  background: #141414;
  -webkit-filter: opacity(93%);
  filter: opacity(93%); }

.menu__text {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: white;
  padding: 30px 60px; }

.reviews__list {
  width: 100%;
  height: 100%;
  min-width: 275px;
  min-height: 325px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%; }
  .reviews__item:hover .reviews__content {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: .7; }

.reviews__content {
  width: 100%;
  height: 100%;
  display: none;
  padding: 40px  30px 0 20px;
  background-color: #141414;
  opacity: 0;
  -webkit-transform: scale(0.4);
  -ms-transform: scale(0.4);
  transform: scale(0.4);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  -o-transition: transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s; }

.reviews__block:hover .reviews__content {
  display: block; }

.reviews__title {
  font-family: "Gagalin-Regular";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 28.11px;
  color: #ffffff;
  padding-bottom: 17px; }

.reviews__text {
  font-family: "Ubuntu";
  font-size: 14px;
  line-height: 24px;
  color: #dfdfdf;
  margin-bottom: 13px; }

.reviews__button {
  display: inline-block;
  border-radius: 5px;
  padding: 0 15px;
  background-color: #2f3234;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Ubuntu";
  color: #f5f5f5; }

.reviews__button:hover {
  background-color: #1f2122; }

.order {
  background: url("../img/bg/7_slide_bg.jpg") no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: white; }

.form__label {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.form__label-title {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  width: 100%;
  font-size: 14px;
  padding: 0;
  margin-bottom: 5px; }

.form__input {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 300;
  width: 100%;
  font-size: 14px;
  background: white;
  border-radius: 7px;
  border: 0;
  padding: 10px; }

.section__title-order {
  margin-top: -100px;
  margin-bottom: 65px; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px; }
  .form__row:first-child {
    margin-top: 0; }

.form__cell {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 20px; }
  .form__cell:first-child {
    margin-left: 0; }

.form__column {
  width: 50%;
  padding: 0;
  margin-left: 1.25rem; }
  .form__column:first-child {
    margin-left: 0; }

.form__textarea {
  resize: none;
  height: 6.875rem; }

.form__row-control {
  margin-top: 10px; }

.form__control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 15px; }

.from__radio {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 15px; }

.from__radio-elem {
  display: none; }

.from__radio-fake {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: relative;
  background: white;
  vertical-align: middle;
  cursor: pointer; }
  .from__radio-fake:after {
    content: "";
    display: none;
    width: 7px;
    height: 7px;
    background: #c1401e;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(70%, 70%);
    -ms-transform: translate(70%, 70%);
    transform: translate(70%, 70%); }

.from__radio-elem:checked + .from__radio-fake:after {
  display: block; }

.from__checkbox {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.from__control-text {
  font-size: 14px;
  margin-left: 10px; }

.from__checkbox-elem {
  display: none; }

.from__checkbox-fake {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  background: white;
  vertical-align: middle;
  cursor: pointer; }
  .from__checkbox-fake:after {
    display: none;
    content: "";
    width: 6px;
    height: 10px;
    border: 3px solid #c1401e;
    border-top: none;
    border-left: none;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(80%, 15%) rotate(45deg);
    -ms-transform: translate(80%, 15%) rotate(45deg);
    transform: translate(80%, 15%) rotate(45deg); }
  .from__checkbox-fake:checked:after {
    display: block; }

.from__checkbox-elem:checked + .from__checkbox-fake:after {
  display: block; }

.form__buttons {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.form_link-clear {
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  color: white;
  margin-left: 15px; }

.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: url("../img/bg/8_slide_bg.jpg") center center no-repeat;
  background-size: cover; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: url("../img/content/footer.jpg") center center no-repeat;
  background-size: cover; }

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 940px; }

.footer__adress {
  color: white;
  margin-bottom: 5px; }

.footer__contact {
  padding: 6px 0;
  font-size: 14px; }

.footer__phone {
  color: #e45028;
  font-family: 'Ubuntu', Helvetica, sans-serif;
  font-weight: 900; }
  .footer__phone:before {
    content: url("../../img/icons/phone.svg");
    margin-right: 10px; }

.social__item {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 18px; }

.social__item-vk {
  background: url("../img/icons/vk.svg") center center no-repeat;
  background-size: cover; }

.social__item-fb {
  background: url("../img/icons/fb.svg") center center no-repeat;
  background-size: cover; }

.social__item-inst {
  background: url("../img/icons/inst.svg") center center no-repeat;
  background-size: cover; }

.social__item-twitter {
  background: url("../img/icons/twitter.svg") center center no-repeat;
  background-size: cover; }

.social__list {
  padding: 14px 0; }
