.best {
    background: url('../../img/bg/2_slide_bg.jpg') center center no-repeat; 
    background-size: cover;  
    height: 100vh;
    min-height: 650px; 
      display: flex; 
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container--best {
    margin-top: -110px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* min-height: 650px;  */

}
.best__title {
    font-family:  "Gagalin-Regular";
    font-size: 72px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 67px;
 

}
.best__list {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;;
    align-content: space-between;
    padding: 0 80px;
}

.best__item {
    text-align: none;
    display: inline-block;
    width: 300px;
}
.best__img-block {
    height: 90px;
    width: 90;
     margin-bottom: 30px; 
}
.best__img {
    margin-left: 105px;
}


.best__item-title {
    display: block;
    font-family: "Lifehack-Medium";
    font-size: 24.1px;
    color: #2f3234;
    margin-bottom: 20px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 5px; 
}
.best__description {
    font-family: "Ubuntu";
    font-size: 14px;
    line-height: 24px;
    color: #6a6969;
    text-align: center;
}