.burgers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    background: url('../img/bg/3_slide_bg.jpg') no-repeat; 
    background-size: cover; 
    height: 100vh;
    margin: 0;
    min-height: 650px;
           @include tablets {
                min-height: 1025px;
           }
           @include phones {
        min-height: 800px;
    }
}
.burgers__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1050px;
           @include phones {
    max-width: 480px;
    }


}
.arrow__burgers-left {
    transform: rotate(90deg);
           @include phones {
   margin-right: -30px;
    }
}
.arrow__burgers-right {
    transform: rotate(270deg);
               @include phones {
   margin-left: -30px;
    }
}
.burgers__content {
    display: flex;
    align-items: flex-start;
             @include tablets {
   flex-direction: column;
   align-items: center;
   justify-content: center;
     }
             @include phones {
    align-items: flex-start;
    }
} 
.burgers__img {
    width: 500px;
           @include phones {
   width: 400px;
    }
}
.burgers__column-left {
    position: relative;
    padding: 80px 0;
    @include tablets {
    padding: 80px 0 0 0;
    }
       @include phones {
    width: 460px;
    max-width: 480px;
    text-align: center;
    padding: 110px 0 0 0;
    }
}
.burgers__composition {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
 }
.burgers__product {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(90px, 0);
    display: none;
    border-radius: 5px;
    background-color: white;
    opacity: 0.902;
    padding: 20px;
}
.burgers__product-name {
     @include ubuntu(bold);
     padding: 0 20px;
}
.burgers__product-weight {
    text-align: right;
    padding-left: 20px;
    min-width: 70px;
}

.burgers__composition-batton {
    width: 90px;
    height: 90px;
    background-color: #f08c33;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
}
.burgers__composition-title {
    @include gagalin();
    font-size: 14px;
    color: white;
}
.burgers__composition-img {
    width: 46px;
    height: 45px;
}
.burgers__composition:hover  .burgers__product {
    display: block;
}
.burgers__composition:hover  .burgers__composition-batton {
    background-color: #e35028;;
}

.burgers__kkal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90px;
    height: 90px;
    opacity: 0.4;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
                 @include tablets {
    top: 0;
    right: 0;
    left: initial;
    }

 }
.burgers__kkal-title {
    @include gagalin();
    font-size: 14px;
    margin-top: 10px;
    color: white;
}
.burgers__kkal-amount {
    @include gagalin();
    font-size: 14px;
    margin-top: -30px;
    color: white;
}
.burgers__kkal-img {
    width: 60px;
    height: 60px;
}
.burgers__column-right {

    display: flex;
    flex-direction: column;
    @include tablets {
    align-items: center;
    }
       @include phones {
   max-width: 480px;
    }
    

}
.burgers__info {
    display: flex;
    flex-direction: column;
    @include tablets {
    align-items: center;
    }
    @include phones {
    max-width: 480px;
    }

}

.burgers__title--burger {
    color: white;
    width: 380px;
    line-height: 60px;
    margin-bottom: 40px;
        @include tablets {
    margin-bottom: 20px;
    }
       @include phones {
    font-size: 50px;
    }
}
.burgers__description {
    @include ubuntu();
    color: white;
    width: 470px;
    font-size: 14px;
    line-height: 24px;
          @include tablets {
    width: 600px;
    text-align: center;
    margin-bottom: 20px;
          }
         @include phones {
     width: 460px;
      margin-bottom: 0;
    }
}
.burgers__price {
    @include gagalin();
    font-size: rem(72px);
    color: #e55e2c;
    margin-right: 10px;
            @include phones {
    font-size: 50px;
    }
}
.burgers__currency {
    @include gagalin();
    font-size: rem(30px);
    color: #e55e2c;
    margin-right: 20px;

}
.burgers__order {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    
}