.burgers {
     display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    background: url('../../img/bg/3_slide_bg.jpg') no-repeat; 
    background-size: cover; 
    height: 100vh;
    margin: 0;
    min-height: 650px;
}