.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // background: url("../img/bg/8_slide_bg.jpg") center center no-repeat;
    background-size: cover;
}
.map {
    flex: 1;
    width: 100%;
    height: 100%;
}
.footer {
    display: flex;
    justify-content: center;
    background: url("../img/content/footer.jpg") center center no-repeat;
    background-size: cover;
 

}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: rem(940px);
    padding: 0 10px;
    @include tablets {
    max-width: 768px;
    }
    @include phones {
    width: rem(480px);
    flex-direction: column;
    }
    
}
.footer__adress {
    color: white;
    margin-bottom: rem(5px);
}
.footer__contact {

    font-size: rem(14px);
          @include tablets {
 padding-bottom: rem(5px);
          }
    @include phones {
    width: rem(480px);
    text-align: center;
    }
}
.footer__phone-link {
    color: $orange;
    @include ubuntu(Bold);
    outline: none;
    text-decoration: none;
}
.footer__phone-number {
    margin-left: 5px;
}
.social__item {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;    
    &:hover .icon-social {
    opacity: 1;    
    }
    &:first-child {
    margin-left: 0;     
    }
    @include tablets {
    padding-left: rem(12px);
    }

}
.social__list {
    padding: rem(12px);
        @include tablets {
       padding: 0;
    }
}
.social__link {
    display: inline-block;
}
.social__icon {
    width: 20px;
    height: 20px;
}