.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url("../img/bg/8_slide_bg.jpg") center center no-repeat;
    background-size: cover;
}
.footer {
    display: flex;
    justify-content: center;
    background: url("../img/content/footer.jpg") center center no-repeat;
    background-size: cover;
 

}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: rem(940px);
    @include phones {
    width: rem(480px);
    flex-direction: column;
    }
    
}
.footer__adress {
    color: white;
    margin-bottom: rem(5px);
}
.footer__contact {
    padding: rem(6px);
    font-size: rem(14px);
          @include tablets {
 padding: rem(13px);
          }
    @include phones {
    width: rem(480px);
    text-align: center;
    }
}
.footer__phone {
    color: $orange;
    @include ubuntu(Bold);
    &:before {
        content: url("../img/icons/phone.svg");
        margin-right: rem(10px);
    }
}
.social__item {
    display: inline-block;
    width: rem(20px);
    height: rem(20px);
    margin-left: rem(18px);    
    @include tablets {
    padding: rem(12px);
          }
}
.social__list {
    padding: rem(14px) 0;
}
.social__icon {
    width: 20px;
    height: 20px;
}