.fullscreen-menu{
    display: none;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    padding-top: 100px; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    min-height: 1025px;
    background-color: #2f3234;
    z-index: 200;
    opacity: 0.9;
}

.fullscreen-menu__link{
    display: block;
    @include ubuntu();
    font-size: rem(24px);
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    position: relative;
    text-align: center;
    &:hover{
    text-decoration: underline;
    }
    &:before{
    content: "";
    border-radius: 50%; 
    background-color: rgb(255, 255, 255);
    width: 6px;
    height: 6px; 
    position: absolute;
    left: 50%;
    top: -75%;
    }

}
.fullscreen-menu__item {
    margin-bottom: 60px;
}
.fullscreen-menu__item:first-child .fullscreen-menu__link:before {
    display: none;
    }
.close-btn{
    background: url("../img/icons/close-btn-grey.png") no-repeat;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;

}
.active-menu{
    display: flex;
}