.menu {
    background: url('../img/bg/5_slide_bg.jpg') no-repeat; 
    background-size: cover; 
    background-position: 50%;
    position: relative;
}
.menu__container {
    display: flex;
    width: 100%;
    height: 100%;

}
.menu__space {
    flex: 1;

}

.section__title--menu {
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    transform: translate(50%, 25%);
              @include tablets {
 transform: translate(10%, 70%);
              }
           @include phones {
   transform: translate(50%, 70%);
   font-size: 45px;
    }

}
.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
}
.menu__item{
    display: flex;
    flex-direction: row;
    &:hover .menu__desc {
        display: block;
    }
}
.menu__sutitle {
    display: block;
    position: relative;

}
@each $menu in (meet, veget, diet) {
    .menu__sutitle-#{$menu} {
        background: url("../img/content/#{$menu}.jpg") center center no-repeat;
        background-size: cover;     
        width: rem(78px);
        height: 100%;
        @include phones {
        width: rem(85px);
        }
      
     }
}
.menu__link {
    display: flex;
    @include gagalin();
    font-size: rem(40px);
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    transform: translate(-36%) rotate(-90deg);
    white-space: nowrap;
    z-index: 100;
    text-decoration: none;
    color: white;
        @include tablets {
            top: 80%;
        }
        @include phones {
   top: 70%;
        }
} 
.menu__desc {
    display: none;
    width: rem(540px);
    background: #141414;
    filter: opacity(93%);
} 
.menu__text {
    @include ubuntu();
    font-size: rem(14px);
    color: white;
    padding: rem(30px) rem(60px);
}
  