.menu {
    background: url('../img/bg/5_slide_bg.jpg') no-repeat; 
    background-size: cover; 
    background-position: 50%;
    position: relative;
}
.menu__container {
    display: flex;
    width: 100%;
    height: 100%;

}
.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    flex: 1;
}
.menu__item{
    display: flex;
    flex-direction: row;
    &:hover .menu__desc {
        display: block;
    }
}
.menu__sutitle {
    display: block;
    position: relative;

}
@each $menu in (meet, veget, diet) {
    .menu__sutitle-#{$menu} {
        background: url("../img/content/#{$menu}.jpg") center center no-repeat;
        background-size: cover;     
        width: 80px;
        height: 100%;
      
     }
}
.menu__link {
    display: block;
    @include gagalin();
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-36%, 525%) rotate(-90deg);
    white-space: nowrap;
    z-index: 100;
    text-decoration: none;
    color: white;
} 
.menu__desc {
    display: none;
    width: 540px;
    background: #141414;
    filter: opacity(93%);
} 
.menu__text {
    @include ubuntu();
    font-size: 14px;
    color: white;
    padding: 30px 60px;
}
  