.scrol-nav__list {
    position: fixed;
    z-index: 1000;
    right: 50px;
    top: 98px;   
    @include tablets {
    display: none;
    }
}
.scrol-nav__link {
    display: block;
    border-radius: 50%; 
    background-color: rgb(255, 255, 255);
    width: 6px;
    height: 6px;
    margin-bottom: 15px;
    color: white;
    position: relative;
}
.scrol-nav__link:before  {
    display: none;
    content: "";
    border: 1px solid white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    left: -80%;
    top: -80%;
}
.scrol-nav__item.active .scrol-nav__link:before {
    display: block;
}