* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
     font-family: 'OpenSans-Light';
     margin: 0;
     line-height: 1.42;
}
.container {
    width: 1100px; 
    margin: 0 auto;
}
.clear-fix:after {
    content: "";
    display: block;
    clear: both;
}
  .clear-fix::before {
    content: "";
    display: block;
    clear: both;
}
.wrapper {
  min-height: 100%;
  position: relative;
  min-width: 1100px;
  overflow: hidden;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}