* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'OpenSans-Light';
  margin: 0;
  line-height: 1.42; }

.container {
  width: 940px;
  margin: 0 auto; }

.clear-fix:after {
  content: "";
  display: block;
  clear: both; }

.clear-fix::before {
  content: "";
  display: block;
  clear: both; }

.wrapper {
  min-height: 100%;
  position: relative;
  min-width: 940px;
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }
