.wrapper {
  min-width: 940px + 20px; 
  position: relative;
  min-height: 100;
  overflow: hidden;
}

.maincontent {
  height: 100%;
  min-height: 650px;
}

.container {
    
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 940px;
}

.section {
  min-width: 940px;
  min-height: 650px;
  height: 100vh;
}

.order-link {
  min-width: rem(98px);
  padding: 10px 17px;
  border-radius: 5px;
  background-color: $orange;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  transition: .5s;
  &:hover {
    background-color: darken($orange, 7%);
  }
}